{% extends 'base.html' %}

{% block body %}

<div id="intro">
<h1>Welcome to the Coliving Census</h1>

<div>
<p>We’re interested in understanding the ecosystem and archetypes of the coliving movement, in order to make it easier to start and operate coliving houses, and to create a picture of the amazing spectrum of these spaces. </p>

<p>Similar to the way the US government does a census of the US population every few years, we are undertaking a “Coliving Census,” to capture the diversity, challenges, and opportunities of these spaces. The result will be aggregated into an anonymized, open data set about coliving spaces, as well as a report going into more detail.</p> 

<p>This is an entirely not-for-profit, community initiative, motivated by a belief that there are more and better ways to live than the nuclear family. We want to get a better picture of the communities making this happen. </p>
</div>

<div>
	<a href="/survey/1">Take the Survey</a> || 
	<a href="/privacy/">Read the Privacy Statement</a>
</div>
</div>

{% endblock %}
