{% extends 'base.html' %}

{% block body %}

<p>We are passionate about the coliving movement and embrace a collaborative approach to projects. Our hope is to be able to share the information we find with other houses, as well as use it ourselves to identify shared needs within the greater coliving community - we think this is part of the value proposition this process brings to everyone. We also have total respect for your privacy, and coliving houses are your home. All information you share can be as anonymous or open as you'd like. In particular:</p>

<ul>
<li>Your participation in this study is completely voluntary. You do not have to answer any questions that you do not feel comfortable answering, and you may stop the interview or observation at any point during a session without penalty.</li>
<li>There are no foreseeable risks to participation in this research.</li> 
We would like permission to record audio of the interview session so that what you say may be transcribed and/or reviewed to ensure accuracy. </li>
<li>The original audio and text from the interview and any associated observations will be kept confidential to the census team and the interviewer. </li>
<li>Personally identifying information such as your personal and house names will be removed and replaced with a pseudonym.</li>
<li>A data set comprised of <em>aggregate</em> data from all participating houses will be compiled and made publicly available.</li>
<li>You of course MAY elect to make certain answers or information about your individual house public, but that is not required. If there is an opportunity for doing so, we will lay out the structure and implications with you explicitly. </li> 
<li>We will be compiling a written report to accompany the aggregate data set. We may wish to use certain quotes or data points specific to your community in this report. If this is the case, you will be consulted for permission before publication.
Information and experiences related to legal challenges and ambiguities associated with running a coliving house will be kept in the strictest confidence.</li> 
<li>Data will be stored in a web application running on a server. Access to the server is protected with key-based secure logins and the web application is password-protected.</li> 
<li>The software used for this survey is open source and can be retrieved and examined at https://github.com/jessykate/django-survey</li>
</ul>

<p>You do not have to answer any questions that you do not feel comfortable answering, and you may stop the interview or observation at any point during a session without penalty. Feel free to ask any questions before, during, or after the session, either in person or via email at survey@coliving.org</p>

{% endblock %}